.upload{
	width: 100%;
	max-width: 1200px;
	margin: 40px auto;
}
.upload h2{
	font-size: 24px;
	padding-bottom: 20px;
}
.upload table{
	border-collapse: collapse;
	width: 100%;
}
.upload td{
	border-bottom: 1px solid #ccc;
	padding: 16px;
}
.upload td:nth-child(1){
	width: 20%;
}
.upload input[type="text"]{
	width: 100%;
}