a{
	text-decoration: none;
	color: inherit;
}
.header{
	display: flex;
	width: 100%;
	max-width: 1200px;
	height: 60px;
	padding: 20px;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
}
.header ul{
	display: flex;
}
.header li{ padding: 0 30px;}