.productDetail{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}
.productDetail h2{
	padding-top: 30px;
	padding-bottom: 30px;
}
.productImg{
	text-align: center;
}
.productImg img{
	width: 100%;
}